<!doctype html>
<html lang="vi">

<head></head>
<body></body>

</html>
<footer class="footer">
  <p style="letter-spacing: 1px; margin-bottom: 0px">
    <b><a href="/pages/admin.html" style="font-style: oblique; text-decoration: none; font-size: 18px;">Antien production</a></b>
  </p>
  <p style="font-size: 12px; margin-top: 0px; color: rgba(10, 223, 38, 0.849);">  
       ✆ 036 567 4743 ✉ antien22@gmail.com
  </p>
</footer>
<a style="text-decoration: none;" href="javascript:void(0)" id="backToTop" title="Lên đầu trang" aria-label="Lên đầu trang"><p style="text-align: center; line-height: 14px;">↑<br>lên</p></a>